[Unit]
Description=RQ Scheduler to serve Clay Golem flask app background
After=network.target

[Service]
WorkingDirectory=/opt/clay/clay_golem/
Environment="PATH=/opt/clay/clay_golem/venv/bin"
ExecStart=/opt/clay/clay_golem/venv/bin/flask --app flaskr start-scheduler
Restart=always

[Install]
WantedBy=multi-user.target
