<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Device Control Panel</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <style>
        .container {
            max-width: 960px; /* Adjust this value as needed */
        }
        .control-row {
            background-color: #0d6efd; /* Bootstrap $blue */
            color: #ffffff;
            padding: 0.5rem;
        }
        .control-row .form-select,
        .control-row .form-control,
        .control-row .btn {
            color: #000;
        }
        .btn-outline-light {
            color: #0d6efd; /* Bootstrap $blue */
            border-color: #0d6efd; /* Bootstrap $blue */
            background-color: #ffffff; /* White background for 'Parameters' button */
        }

        .status-indicator {
            padding: 0.25em 0.5em;
            color: #fff;
            border-radius: 0.25rem;
            margin-left: 1rem;
        }
        .status-ok {
            background-color: #198754; /* Bootstrap $green */
        }
        .status-error {
            background-color: #dc3545; /* Bootstrap $red */
        }
        table {
            border-color: #aed0fa; /* A lighter shade of Bootstrap $blue, similar to $blue-200 */
            background-color: #aed0fa;
        }
        table th,
        table td {
            border-color: #aed0fa; /* Ensuring the table cells also have the lighter border */
            background-color: #aed0fa;
        }
    </style>

</head>
<body>
<div class="container mt-4">

    <!-- Nav tabs -->
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="relays-tab" data-toggle="tab" href="#relays" role="tab" aria-controls="relays" aria-selected="true">Реле</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="sensors-tab" data-toggle="tab" href="#sensors" role="tab" aria-controls="sensors" aria-selected="false">Сенсоры</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="lamps-tab" data-toggle="tab" href="#lamps" role="tab" aria-controls="lamps" aria-selected="false">Лампы</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="experiment-tab" data-toggle="tab" href="#experiment" role="tab" aria-controls="experiment" aria-selected="false">Задачи</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="devices-tab" data-toggle="tab" href="#devices" role="tab" aria-controls="devices" aria-selected="false">Устройства</a>
            </li>
        </ul>


<!-- Tab panes -->
<div class="tab-content">
    <div class="tab-pane fade show active" id="relays" role="tabpanel" aria-labelledby="relays-tab">
        <!-- Relays Devices -->
        {% for device in devices %}
            {% if device.params.type == 'relay' %}
                {% include 'device_block.html' %}
            {% endif %}
        {% endfor %}
    </div>
    <div class="tab-pane fade" id="sensors" role="tabpanel" aria-labelledby="sensors-tab">
        <!-- Sensors Devices -->
        {% for device in devices %}
            {% if device.params.type == 'sensor' %}
                {% include 'device_block.html' %}
            {% endif %}
        {% endfor %}
    </div>
    <div class="tab-pane fade" id="lamps" role="tabpanel" aria-labelledby="lamps-tab">
        <!-- Lamps Devices -->
        {% for device in devices %}
            {% if device.params.type == 'lamp' %}
                {% include 'device_block.html' %}
            {% endif %}
        {% endfor %}
    </div>
    <div class="tab-pane fade" id="experiment" role="tabpanel" aria-labelledby="experiment-tab">
        {% for device in devices %}
            {% if device.params.type == 'task' %}
                {% include 'experiment_block.html' %}
            {% endif %}
        {% endfor %}
    </div>
    <div class="tab-pane fade" id="devices" role="tabpanel" aria-labelledby="devices-tab">
        <div class="container mt-3">
            <h3>Состояние всех устройств</h3>
            <div class="row">
                {% for device in devices %}
                    {% if device.params.type != 'task' %}  <!-- Исключаем устройства типа 'task' -->
                        <div class="col-md-4 mb-3">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Устройство ID: {{ device.params.device_id }}</h5>
                                    <p class="card-text"><strong>Имя:</strong> {{ device.params.name }}</p>
                                    <p class="card-text"><strong>Статус:</strong> <span class="status-indicator">{{ device.params.status }}</span></p>
                                    <p class="card-text"><strong>Дата обновления:</strong> {{ device.params.last_time_active }}</p>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>

</div>
<script>
    // button hide/show data handler
    function toggleVisibility(id) {
        var x = document.getElementById(id);
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
    // change color of status indicator
    document.addEventListener('DOMContentLoaded', function() {
        const statusIndicators = document.querySelectorAll('.status-indicator');
        statusIndicators.forEach(indicator => {
            const status = indicator.textContent.trim();
            indicator.className += status === 'ok' ? ' status-ok' : ' status-error';
        });
    });
    // ajax polling to update data
    function updateDeviceValues() {
        $.ajax({
            url: '/get-device-updates', // The Flask route that returns updated device info
            type: 'GET',
            dataType: 'json', // Expect JSON data in response
            success: function(devices) {
                devices.forEach(function(device) {
                    // Update parameters and data for each device
                    // Assuming the device ID is unique and can be used to target the elements
                    $(`#device${device.params.device_id}_status_indicator`).text(device.params.status);
                    $(`#device${device.params.device_id}_last_response`).text(device.params.last_time_active);

                    // Update status class based on the device status
                    const statusClass = device.params.status === 'ok' ? 'status-ok' : 'status-error';
                    $(`#device${device.params.device_id}_status_indicator`)
                        .removeClass('status-ok status-error')
                        .addClass(statusClass);

                    // Update Parameters Table
                    const paramsTable = $(`#paramsTable${device.params.device_id} tbody`);
                    paramsTable.empty(); // Clear existing rows
                    $.each(device.params, function(param, value) {
                        paramsTable.append(`<tr><td>${param}</td><td>${value}</td></tr>`);
                    });

                    // Update Data Table
                    const dataTable = $(`#dataTable${device.params.device_id} tbody`); // Assuming the data table directly follows the device div
                    dataTable.empty(); // Clear existing rows
                    $.each(device.data, function(dataKey, dataValue) {
                        dataTable.append(`<tr><td>${dataKey}</td><td>${dataValue}</td></tr>`);
                    });
                });
            },
            error: function(xhr, status, error) {
                console.error("Error fetching device updates:", status, error);
            }
        });
    }

    // Initialize Bootstrap tabs
    $('#myTab a').on('click', function (e) {
        e.preventDefault();
        $(this).tab('show');
    });

    function sendExperimentCommand(task_name) {
        task_postfix = task_name.replace(':', '-')
        const command = document.getElementById('command-select'+task_postfix).value;
        const args = document.getElementById('command-args'+task_postfix).value;

        $.ajax({
            url: '/handle-experiment',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({ command: command, args: args, task_name: task_name }),
            success: function(response) {
                // Обновляем статус и время последнего обновления
                const experimentStatusElement = document.getElementById('experiment-status'+task_postfix);
                if (experimentStatusElement) {
                    experimentStatusElement.innerText = response.status;
                } else {
                    console.error('Element with id "experiment-status" not found.');
                }
                document.getElementById('last-update'+task_postfix).innerText = new Date().toLocaleString();
                // document.getElementById('ventilation-task-data').innerText = JSON.stringify(response.task_data, null, 2); // Отображаем данные о задаче

                // Обновляем прогресс-бар
                const progressBar = document.getElementById('progress-bar'+task_postfix);
                if (progressBar) {
                    const step = response.task_data.params.step; // Извлекаем значение step
                    const progressPercentage = (step / 4) * 100; // Предположим, что максимальный шаг 4
                    progressBar.style.width = progressPercentage + '%';
                    progressBar.setAttribute('aria-valuenow', progressPercentage);
                    progressBar.innerText = Math.round(progressPercentage) + '%'; // Обновляем текст прогресс-бара
                } else {
                    console.error('Element with id "progress-bar" not found.');
                }

                // Обновляем параметры в модальном окне
                const paramsTable = $(`#paramsTable${task_postfix} tbody`);
                paramsTable.empty(); // Очищаем существующие строки
                $.each(response.task_data.params, function(param, value) {
                    paramsTable.append(`<tr><td>${param}</td><td>${value}</td></tr>`);
                });

                createAlert(`Команда "${command}" успешно отправлена.`, 'success');
            },
            error: function(xhr, status, error) {
                console.error('Ошибка при отправке команды эксперимента:', error);
                createAlert(`Ошибка! ${xhr.responseJSON.message}`, 'danger');
            }
        });
    }
    function sendCommand(deviceId) {
        // Get the command and argument values
        const command = $(`#device${deviceId}_command`).val();
        const arg = $(`#device${deviceId}_arg`).val();

        // Send POST request
        $.ajax({
            url: '/handle-request',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({ device_id: deviceId, command: command, arg: arg }),
            dataType: 'json',
            success: function(response) {
                // Check the response status
                if(response.status === 'ok') {
                    // Create a success alert
                    createAlert('Success! Command has been sent successfully.', 'success');
                } else {
                    // Create an error alert with the error message
                    createAlert(`Error! ${response.error}`, 'danger');
                }
            },
            error: function(xhr, status, error) {
                let errorMessage = 'Error sending command to the device.';
                // Check for different types of errors
                if (xhr.status === 0) {
                    errorMessage = 'Cannot connect to the server.';
                } else if (xhr.status === 404) {
                    errorMessage = 'The requested resource was not found (404).';
                } else if (xhr.status === 500) {
                    errorMessage = 'Internal Server Error (500).';
                } else if (error === 'parsererror') {
                    errorMessage = 'Requested JSON parse failed.';
                } else if (error === 'timeout') {
                    errorMessage = 'Time out error.';
                } else if (error === 'abort') {
                    errorMessage = 'Ajax request aborted.';
                } else {
                    errorMessage = `Uncaught Error.\n${xhr.responseText}`;
                }

                // Create an error alert with the detailed error message
                createAlert(errorMessage, 'danger');
            }
        });
    }

    function createAlert(message, type) {
        // Create a unique ID for the alert
        const uniqueId = `alert-${Date.now()}`;
        const alertHTML = `
            <div class="alert alert-${type} alert-dismissible fade show" role="alert" id="${uniqueId}">
                ${message}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        `;

        // Prepend the alert to the container or body
        $("body").prepend(alertHTML);

        // Optional: Automatically remove the alert after a certain time
        setTimeout(() => {
            $(`#${uniqueId}`).alert('close');
        }, 2000); // Close the alert after 5 seconds
    }


    // Call the ajax polling for update every X milliseconds.
    setInterval(updateDeviceValues, 1000);
</script>
</body>
</html>
